
.project {
  width: 40rem;
  margin: auto;
  display: flex;
  gap: 1rem;
}

.project-container {
    margin: auto;
    width: 24rem;
    height: 10rem;
    position: relative;
    border: 1px solid black;
    border-radius: 0.4rem;
  }
  
  .project-container img {
    position: relative;
    height: 7.8rem;
    display: flex;
    padding-left: 1rem;
    padding-top: 1rem;
    z-index: -1;
  }
  
  
  .project-text {
    width: 80%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    cursor: pointer;
    transform: translate(-50%, -50%);
  }
  
  .project-container:hover .project-text {
    opacity: 1;
  }
  
  .project-container:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .project-link {
  position: absolute;
  bottom: -2rem;
  right: -1rem;
}

  
@media screen and (max-width: 568px) {
    .project {
      width: 26rem;
      gap: 0.6rem;
    }
  }

  @media screen and (max-width: 420px ) {
    .project-container{
      width: 20rem;
    }
  
    .project-container img{
      height: 7rem;
    }
  
    .project{
      width: 16rem;
    }
  
    .project-link{
      bottom: -1.6rem;
      right: -0.6rem ;
    }
  }