.form {
    font-size: 1.4rem;
    width: 32rem;
    padding: 0.4rem;
  }
  
  .form p {
    padding: 0 3rem;
    margin-top: 0.6rem;
  }
  
  @media screen and (min-width: 820px) {
    .form {
      margin: 2rem 0 0 1rem;
    }
  
    .form p {
      width: 60rem;
      margin-bottom: 2rem;
    }
  }
  
  .homepage-link {
    /* text-decoration: none; */
    color: var(--form-btn);
    font-size: 1.2rem;
  }
  
  .home-icon {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  #form-btn {
    border: var(--form-btn);
    background-color: var(--form-btn);
  }
  